@model CityInfo.Web.Models.Gallery

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Gallery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />

            <input type="hidden" asp-for="CreateBy" />
            <div class="form-group">
                <label asp-for="id_tempat" class="control-label"></label>
                <select asp-for="id_tempat" class="form-control" asp-items="ViewBag.id_tempat"></select>
                <span asp-validation-for="id_tempat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_kategori" class="control-label"></label>
                <select asp-for="id_kategori" class="form-control" asp-items="ViewBag.id_kategori"></select>
                <span asp-validation-for="id_kategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

