@model CityInfo.Web.Models.MasterTempat


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
<link href="~/dropzone/dropzone.css" rel="stylesheet" />
}
@section scripts
    {
    <environment names="Development">
        <script src="~/dropzone/dropzone.js"></script>
    </environment>

    <script type="text/javascript">

        Dropzone.options.UploadForm = {
            maxFilesize: 20, // MB
            acceptedFiles: "image/*"
        };
    </script>

}





<h2>Create</h2>

<h4>MasterTempat</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <div id="dropzone">
            <form asp-action="Upload" class="dropzone needsclick dz-clickable" id="uploader">
                <div class="dz-message needsclick">
                    Drop files here or click to upload.<br>
                    <img src="~/images/upload.png" style="width:50px;" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="picture" class="control-label">PICTURE NAME/URL</label>
                <input asp-for="picture" class="form-control" />
                <span asp-validation-for="picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label">TITLE</label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdate" class="control-label">CREATE DATE</label>
                <input type="date" asp-for="createdate" class="form-control" />
                <span asp-validation-for="createdate" class="text-danger"></span>
            </div>






            <div class="form-group">
                <label asp-for="idKategori" class="control-label">ID KATEGORI</label>
                <input asp-for="idKategori" class="form-control" />
                <span asp-validation-for="idKategori" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" id="upload_button" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-action="Index"><< Back to List</a>
</div>