@using CityInfo.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About; // The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About This Website
                </h2>
            </div>
            <div class="body">
               <h3>CITYINFO</h3>
               @*<p>
                  <br /> Web Developer : Yogi Chandra Saputra
                   <br />Contact : yogey264@gmail.com
                   <br />Website : <a href="https://yogichandra.me">YogiChandra</a>
               </p>*@
                <hr />
            </div>
        </div>
    </div>
</div>
