@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading">Definisi</h6>
            <!-- <p>Elit aenean at iaculis enim ac odio proin varius</p> -->
        </div>
        <div class="group">
            <div class="one_half first">
                <p>CityInfo adalah sebuah Aplikasi Travel & Info di Kota-Kota Nusantara khususnya Bandung Area untuk versi beta CityInfo ini yang berbasis Mobile-Apps  .</p>
                <p class="btmspace-50">
                    <a href="https://drive.google.com/open?id=1vQNDmxKQigrYlqlPuk2Pz9GUgHhvPD6H"><img src="images/googleplay.png" style="width: 160px;"></a>
                </p>

                <!-- <ul class="nospace group">
                  <li class="one_half first">
                    <article>
                      <a href="#">
                        <i class="btmspace-30 fa fa-4x fa-joomla"></i>
                      </a>
                      <h6 class="heading font-x1">Iaculis eget semper</h6>
                      <p>Erat imperdiet duis ullamcorper sed orci id mollis aliquam ut nisl quis lacus laoreet&hellip;</p>
                    </article>
                  </li>
                  <li class="one_half">
                    <article>
                      <a href="#">
                        <i class="btmspace-30 fa fa-4x fa-institution"></i>
                      </a>
                      <h6 class="heading font-x1">Viverra sit amet et</h6>
                      <p>Nulla curabitur nec interdum ipsum nec ultrices libero ut ac sapien scelerisque congue&hellip;</p>
                    </article>
                  </li>
                </ul> -->
            </div>
            <div class="one_half">
                <img class="inspace-10 borderedbox" src="images/demo/gallery/gedung.jpg" alt="">
            </div>
        </div>

        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
    <div class="hoc container clear">
        <!-- ################################################################################################ -->
        <ul class="nospace group cta">
            <li class="one_third first">
                <article>
                    <i class="fa fa-info"></i>
                    <h6 class="heading font-x1">
                        <a href="#">INFO</a>
                    </h6>

                </article>
            </li>
            <li class="one_third">
                <article>
                    <i class="fa fa-plane"></i>
                    <h6 class="heading font-x1">
                        <a href="#">TRAVELLING</a>
                    </h6>

                </article>
            </li>
            <li class="one_third">
                <article>
                    <i class="fa fa-coffee"></i>
                    <h6 class="heading font-x1">
                        <a href="#">NONGKRONG</a>
                    </h6>

                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->





<div class="wrapper row3">
    <div class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading">Sample Place</h6>
            <!-- <p>Finibus ultrices vitae mattis vestibulum ipsum curabitur</p> -->
        </div>
        <ul class="nospace group services">
            <li class="one_third first btmspace-30">
                <article class="bgded overlay" style="background-image:url('images/demo/gallery/wingz.jpg');">
                    <h6 class="heading font-x1">
                        <a href="#">Wingz O Wingz</a>
                    </h6>

                </article>
            </li>
            <li class="one_third btmspace-30">
                <article class="bgded overlay" style="background-image:url('images/demo/gallery/upnormal.jpg');">
                    <h6 class="heading font-x1">
                        <a href="#">Warunk Upnormal</a>
                    </h6>

                </article>
            </li>
            <li class="one_third btmspace-30">
                <article class="bgded overlay" style="background-image:url('images/demo/gallery/tangkuban.jpg');">
                    <h6 class="heading font-x1">
                        <a href="#">Tangkuban Perahu</a>
                    </h6>

                </article>
            </li>
            <li class="one_third first">
                <article class="bgded overlay" style="background-image:url('images/demo/gallery/jonas.jpg');">
                    <h6 class="heading font-x1">
                        <a href="#">Jonas Photo Studio</a>
                    </h6>

                </article>
            </li>
            <li class="one_third">
                <article class="bgded overlay" style="background-image:url('images/demo/gallery/maribaya.jpg');">
                    <h6 class="heading font-x1">
                        <a href="#">Maribaya</a>
                    </h6>

                </article>
            </li>
            <li class="one_third">
                <article class="bgded overlay" style="background-image:url('images/demo/gallery/riverstone.jpg');">
                    <h6 class="heading font-x1">
                        <a href="#">Riverstone</a>
                    </h6>

                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!--  -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading">Developer</h6>

        </div>
        <div class="group">
            <article class="one_third first">
                <a href="#">
                    <img class="btmspace-30" src="images/demo/320x240.png" alt="">
                </a>
                <h3 class="heading">WEB DEVELOPER</h3>
                <p>Yogi Chandra Saputra</p>
                <footer class="nospace">
                    <a href="#">Read More &raquo;</a>
                </footer>
            </article>
            <article class="one_third">
                <a href="#">
                    <img class="btmspace-30" src="images/demo/320x240.png" alt="">
                </a>
                <h3 class="heading">Sed suscipit tempus</h3>
                <p>Eu faucibus nibh facilisis ac aliquam facilisis commodo tincidunt donec commodo est vel est suscipit ultrices nam&hellip;</p>
                <footer class="nospace">
                    <a href="#">Read More &raquo;</a>
                </footer>
            </article>
            <article class="one_third">



                <h3 class="heading">Sollicitudin nibh in</h3>
                <p>
                    Pulvinar in porttitor elit pulvinar aenean vulputate odio fringilla sodales ullamcorper nisi turpis congue justo
                    sed&hellip;
                </p>
                <footer class="nospace">
                    <a href="#">Read More &raquo;</a>
                </footer>
            </article>
        </div>
        <!-- ################################################################################################ -->
    </section>
</div>


<div id="map"></div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_half first">
            <h6 class="heading">Contact Us</h6>

            <ul class="nospace linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
                        Jl. Banda No.40
                    </address>
                </li>
                <li>
                    <i class="fa fa-phone"></i> +00 (123) 456 7890
                </li>
                <li>
                    <i class="fa fa-envelope-o"></i> info@domain.com
                </li>
            </ul>
        </div>


        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">
            Copyright &copy; 2018 - All Rights Reserved -
            <a href="#">CityInfo</a>
        </p>

        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top">
    <i class="fa fa-chevron-up"></i>
</a>